html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #676a6a;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

articule{
  inline-size: 627px;
  border-radius: 25px;
  background-color: #bababa;
  padding: 20px;
  box-shadow: 1px 1px 4px white;
}

.calc-header{
  text-align: center;
  color: #100339;
  margin-top: 0;
}

.calc-body{
  display: flex;
  justify-content: space-around;
  margin-block-end: 20px;
  padding: 30px;
  text-align: center;
}

.calc-body-block input{
  padding: 10px;
  text-align: center;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid rgb(160, 156, 232);
  outline: none;
}

.calc-footer{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.calc-footer input{
  padding: 12px;
  border-radius: 25px;
  border: none;
  inline-size: 135px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.322);
}

input[type="button"]:active {
  transform: scale(.9);
}

.age{
  text-align: center;
  font-size: 18px;
  word-spacing: 2.7px;
}




